/*PFstyle.css */

@charset "UTF-8";
#middle
{
    max-width:960px;
    margin:0 auto;

}
#title
{
    float:left; 
    margin:20px;

}
#headerimg
{
    background:#333333;
    background-image:url(https://raw.githubusercontent.com/dlrkdals1215/dlrkdals1215.github.io/master/1.png);
    height:500px;
    margin:0 auto;

}
#artimg
{   background:#333333;
    background-image:url(https://raw.githubusercontent.com/dlrkdals1215/dlrkdals1215.github.io/master/2.png);
    height:500px;
    margin:0 auto;}
#c1
{
    clear:both;

}
body
{
    background-color:#e6e6e6;

}
header
{
    position:relative; 
    height:70px;
    background-color:#fff;
    margin:0 auto;

}
h2 
{
    font-weight: 500;
    letter-spacing: .05em;
    color: #333333;
    font-style:normal;
    font-family: Verdana, sans-serif;

}
nav
{
    position:absolute; 
    right:50px;
    top:20px;
    width:33%;

}
ul{   list-style-type:none;}
li{ display:inline-block; 
    width:30%; 
    text-align:center; 
    font-size:1.2em;
    line-height:1.5em;
    color:#333333; 
    letter-spacing:.01em; 
    font-style:normal; 
    font-weight:300;
    font-family:Verduna; sans-serif;}
a{  text-decoration:none;   color:#333333;}
a:hover{  text-decoration:none; color:#C43C3E;}
article 
{
background: #fff;
height: 100%;
margin: 0 auto;
padding: 35px 0;
}
#text 
{
width: 100%;
float: left;
margin: 0px 0px 30px 20px;
color:#333333;
}


/*SNS RWD*/

#Stitle
{
	float:left; margin:20px;
}
footer {
	margin-top: -3.5em;
	padding-top: 10em;
	background-image: -webkit-linear-gradient(bottom left, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
}
.footer-content {
	width: 64%;
	margin: 0 auto;
	padding-bottom:1.7em;
}
.footer-social {
	display: block;
	width: 100%;
	list-style-type: none;
	text-align: center;
}
.footer-social li {
	display: inline-block;
	margin: 0 1.2em;
}
.footer-social li a {
	line-height: 3.5em;
	display: inline-block;
	width: 4em;
	height: 4em;
	text-align: center;
	border: 2px solid rgba(255,255,255,.3);
	border-radius: 50%;
}
.footer-social li a:hover {
	border-color: #fff;
	background: #fff;
}
.footer-social li a img {
	width: auto;
	height: 1em;
}
.footer-social li a .social-hover {
	display: none;
}
.footer-social li a:hover .social-default {
	display: none;
}
.footer-social li a:hover .social-hover {
	display: inline;
}
.footer-info {
	padding-top: 5em;
}
.footer-info p {
	font-size: .8em;
	color:#fff;
	line-height: 1.55;
	max-width: 36em;
	margin-bottom: 1.7em;
}
.footer-info {
	clear: both;
}
.footer-legal {
	opacity: .8;
}
.footer-credit a:hover {
	text-decoration: none;
}
